<html>
  <head>
    <style type="text/css">
      body {
        background: grey;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
        </style>
  </head>
  <body>
    <div class="container">
      <h1>Upload your code here</h1>
        <form method=post enctype=multipart/form-data>
      <input type="file" name="file">
      <input type=submit value=Upload>
    </div>
  </body>
</html>
